@import 'tailwindcss';

:root {
  --cyan: #2acfcf;
  --dark-violet: #3b3054;
  --red: hsl(0, 87%, 67%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: #35323e;
  --very-dark-violet: #232127;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f4f8;
}
